<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.HtmlLabel" version="3.0.1.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="xamarinios10" />
</packages>